# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

tab_width = 4
indent_size = 4
indent_style = space
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
end_of_line = crlf

[*.{md,json}]
max_line_length = off

[*.{razor,cshtml}]
charset = utf-8-bom

[*.cs]
# API1000: Action returns undeclared status code.
dotnet_diagnostic.API1000.severity = none

#### Naming styles ####

# Naming rules

dotnet_naming_rule.enum_should_be_begins_with_e.severity = suggestion
dotnet_naming_rule.enum_should_be_begins_with_e.symbols = enum
dotnet_naming_rule.enum_should_be_begins_with_e.style = begins_with_e

# Symbol specifications

dotnet_naming_symbols.enum.applicable_kinds = enum
dotnet_naming_symbols.enum.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.enum.required_modifiers =

# Naming styles

dotnet_naming_style.begins_with_e.required_prefix = e
dotnet_naming_style.begins_with_e.required_suffix =
dotnet_naming_style.begins_with_e.word_separator =
dotnet_naming_style.begins_with_e.capitalization = pascal_case
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_indent_labels = one_less_than_current
