# Configuring Git to handle line endings:
# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
# git add --renormalize .
#
###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.sh text eol=lf
*.csv text eol=crlf
