<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="EmlSolutions official package source" value="https://eddielonzanida.pkgs.visualstudio.com/_packaging/EmlSolutions/nuget/v3/index.json" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <EmlSolutions>
      <add key="Username" value="DotnetRestore" />
      <add key="ClearTextPassword" value="44it2fayiom3u67em4ennufj6zzmgfcaojdxl5kqlcjfxwh4mmxq" />
    </EmlSolutions>
  </packageSourceCredentials>
</configuration>