<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eml.ClassFactory.Contracts" version="2.1.0.17" targetFramework="net472" />
  <package id="Eml.Mediator" version="2.1.0.8" targetFramework="net472" />
  <package id="Eml.MefBootstrapper" version="2.1.0.9" targetFramework="net472" />
  <package id="JetBrains.dotMemoryUnit" version="3.0.20171219.105559" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net472" />
  <package id="Shouldly" version="3.0.0" targetFramework="net472" />
</packages>